/* All styles for your Card Components live here */

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12%;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px 
}

.card-content {
    margin: 10px;
}
.img-card{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; 
}