/* All styles for your header Components live here */
.header-container {
    display: flex;
}

.header-content{
    display: flex;
    flex-direction: column;
}

.header-title {
    display: flex;
    align-items: center;
}

h1,h2,h3{
    margin: 10px
}

h2,h3{
    color: grey
}

